{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es2022": true
    },
    "rules": {
        "no-debugger": "off",
        "no-unused-vars": "off",
        "prefer-const": "warn",
        "no-inner-declarations": "off",
        "@typescript-eslint/no-unused-vars": "off"
    }
}
