{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-debugger": "off",
        "no-unused-vars": "off",
        "prefer-const": "warn",
        "no-inner-declarations": "off",
        "@typescript-eslint/no-explicit-any": "off",
        // "@typescript-eslint/no-unused-vars": "off",
        // "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-this-alias": [
            "error",
            {
                "allowDestructuring": true,
                "allowedNames": ["self"]
            }
        ]
    }
}
